@page
@model WebApp.Pages.AdminPage.AdminHomePageModel
@{
}

<!DOCTYPE html>
<html>
<body>
    <a asp-page="./ManageCustomerPage/Index">View</a>
    <a asp-page="./ManageStaffPage/Index">View</a>

</body>
</html>